h1 {
    color: green;
    text-align: center;
    background: purple;
}
h2 {
    color: crimson;
    font-style: italic
    text-align: center;
    background: pink;
}
p {
    color: yellowgreen;
    background: black;
    font-family: sans-serif;
}